.idea
.project
.settings
.DS_Store
.vscode/*
/config/env/env.php
logs/*
!/logs/.htaccess
/vendor/*
!/vendor/.htaccess
/composer.lock
/assets/css/style.css.map

/uploads/*
!uploads/.gitkeep
!uploads/temp/.gitkeep
