version: "3"

services:

    php-apache:
        # user: "502:20" #-> MacOS
        # user: "1000:1000" #-> Unix 
        ports: 
            - "8686:80"

    # mariadb:
    #   ports: 
    #       - "${DB_PORT}:${DB_PORT}"

    phpmyadmin:
        ports:
            - "8687:80"